@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.logo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.buttons{
    padding-left: 80%;
    align-self: center;
    gap: 10px;
}

.category{
    border: 1px solid #7D7F91;
    height: 24px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    margin-top: 15px;
    color: #7D7F91;

}

h5{
    padding-left: 10px;
}
.topBar{
    margin-bottom: 0;
    height: 65px;
    display: flex;
    background-color: #17192B;
    border-style: solid;
    border-color: #242743;
    border-block-width: 1px;
    border-left: 0;
    border-right: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #0F101C;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100%;

}

.title{
    margin-left: 120px;
    margin-top: 70px;
}

.checkMark_green{
  color: green;
  font-size: 24px;
}

.checkMark_red{
  color: red;
  font-size: 24px;
}

#topCircle{
    stroke: rgb(240, 17, 17);
    stroke-opacity: 0.5;
    stroke-width: 15px;
}

#bottomCircle{
  stroke: rgb(52, 190, 33);
  stroke-width: 15px;
  transform: rotate(-90deg);
  stroke-dasharray: 1;
  transform-origin: center;
}

.circle_results{
  margin: auto;
  width: 80%;
}

.questionList li{
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 60px;
  border-bottom: 1px solid rgb(149, 149, 149);
  padding: 15px 0;
}

.questionList ul{
  width: 95%;
}

.question_written{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.results{
  display: flex;
  width: 70%;
  height: 100px;
  margin: auto;
  background-color: #17192B;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.results li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-right: 1px solid #7D7F91;
  height: 90%;
  width: 200px;
  gap: 15px;
  color: rgb(164, 164, 164);
  font-weight: bold;
}

.results li:last-child{
  border: none;
}


.results span{
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

svg{
  display: flex;
  align-items: center;
}



