@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* normalizing css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

header, footer {
    height: 150px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 960px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    max-width: 960px;
    margin: auto;
    gap: 40px;
    height: calc(100vh - 250px);
}

footer {
    justify-content: center;
    height: 100px;
}


p, h1, h2 {
    margin: 0;
}

h1 {
    font-size: 60px;
    width: 400px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 35px;
    font-family: 'Outfit', sans-serif;
}


h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
}

strong {
    font-weight: 700;
}

.color-violet{
    color: #D20094;
}

.epicode_logo{
    width: 150px;
}

.timerSection {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.timer-container {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 8px;
}

.timer-container svg {
    width: 150px;
    height: 150px;
    position: absolute;
    fill: none;
}

#bottomCircle {
    stroke: #ccc;
    stroke-opacity: 0.5;
    stroke-width: 15px;
}

#topCircle {
    stroke: #0ff;
    stroke-width: 15px;
    transform: rotate(-90deg);
    stroke-dasharray: 1;
    transform-origin: center;
}

#text-container{
    height: 100%;
}

.question-container {
    font-size: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#question {
    font-size: 32px;
    align-self: center;
    text-align: center;
}

#answersContainer {
    font-size: 16px;
    align-self: center;
    display: flex;
    gap: 30px;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
}


.bold{
    font-weight: bold;
}

.instructions{
    font-size: 16px;
    font-weight: 300;
}

.instructions p {
    width: 480px;
}

.instructions ul {
    margin-top: 40px;
}

.instructions ul li {
    line-height: 25px;
}

#check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    background: rgb(210,0,148);
    background: linear-gradient(74deg, rgba(210,0,148,1) 0%, rgba(144,0,128,1) 42%);
    color: #fff;
}

#timer{
    font-size: 32px;
}


#proceedBtn, #confirm {
    font-size: 18px;
    color: black;
    background-color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    transition: all 500ms;
}


#proceedBtn:hover, #confirm:hover {
    box-shadow: 0px 0px 40px#0ff;
}


.answersBtn{
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 1px 1px 1px white inset;
}


#confirm {
    align-self: flex-end;
    border: none;
}


.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #0F101C;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    align-items: center;
}

.resultsContainer {
    margin-bottom: 30px;
}


.results, #responseContainer{
    padding: 0;
    display: flex;
    width: 70%;
    height: 100px;
    background-color: #17192B;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  #responseContainer {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .results li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-right: 1px solid #7D7F91;
    height: 90%;
    width: 200px;
    gap: 15px;
    color: rgb(164, 164, 164);
    font-weight: bold;
  }
  
  .results li:last-child{
    border: none;
  }
  
  
  .results span{
    font-size: 24px;
    font-weight: bolder;
    color: white;
  }


.nQuestion {
    font-size: 12px;
    color: #7D7F91;
}

.category{
    border: 1px solid #7D7F91;
    height: 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #7D7F91;
    line-height: 24px;
    width: 200px;
}

.checkMark_green{
    color: green;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
  }
  
  .checkMark_red{
    color: red;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
  }

  .questionList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionList li{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    min-height: 60px;
    border-bottom: 1px solid rgb(149, 149, 149);
    padding: 15px 0;
  }

  .questionList li:last-child {
    border: none;
  }
  
  .questionList ul{
    padding: 0;
    width: 95%;
  }
  
  .question_written{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  