body{
    margin: 0;
    
}

.bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
}

.epicode_logo{
    position: absolute;
    width: 15%;
    height: auto;
    padding-left: 9%;
    top: 10%;
}

.testo{
    position: absolute;
    font-family: Outfit;
    font-size: 110px;
    padding-left: 9%;
    top: 25%;
    color: white;
    line-height: 0px;
}

.welcome{
    color: white;    
    font-weight: lighter;
}
.bold{
    font-weight: bolder;
    margin-top: -25px;
}

.instructions{
    color: #D20094;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 80px;
}

.instructions2{
    font-size: 32px;
    margin-top: 50px;
}



