
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 48%; /* larghezza da adeguare */
    background-color: #f0f0f0; /* colore necessario  */
    padding: 10px;
    margin: 5px;
}

.rectangle {
    width: 100%;
    height: 50px; /* altezza da adeguare */
    background-color: #3498db; /* colore in background da aggiornare*/
    margin-bottom: 10px;
}
.transparent-rectangle {
    width: 200px; /* aggiornare larghezza*/
    height: 100px; /* larghezza */
    background-color: #00f; /* colore rettangolo*/
    opacity: 0.5; /* per renderlo trasparende dal 0.1 al 1.00 */
    position: absolute;
}